html,body{
    margin:0;
    height:100%;
    overflow:hidden;
}
img{
    min-height:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-50%; bottom:-50%;
    left:-50%; right:-50%;
    margin:auto;
}

img.littleSmaller {
    min-height: 80%;
    height: 50%;
}

img.lotSmaller {
    min-height: 60%;
}

img.tiny {
    min-height: 20%;
}

.absoluteCenter {
  margin:auto;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
img.absoluteCenter {
 max-height:100%;
 max-width:100%;
}
